@media (max-width: 1920px){
    .container{
        /* background-image: linear-gradient(to right bottom, #000000, #161515, #242322, #333230, #42413f, #42413f, #42413f, #42413f, #333230, #242322, #161515, #000000); */
        background-image: radial-gradient(circle, #454545, #3b3b3b, #313131, #272727, #1e1e1e);
        box-shadow: 2px 0px 4px 2px #c49216;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 998;
        height: 7%;
        border-bottom-left-radius: 20%;
        border-bottom-right-radius: 20%;
    }

    .home{
        box-shadow: 0px 0px 4px 2px #c49216;
        color: #cdcdcd;
        padding: 5px;
        border-radius: 20%;
    }
}

@media (max-width: 800px) {
    .home{
        height: 3vh;
        display: flex;
        align-items: center;
        box-shadow: 0px 0px 0px 0px;
    }
}

