.container{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 7%;
}

.boton{
    background-color: white;
    font-family: 'Silkscreen', cursive;
    color: black;
    height: 4%;
    width: 100%;
    font-size: larger;
    border-radius: 20%;
    border: none;
    transition: background-color .5s;
}

.boton:hover{
    color:white;
    background-color: rgb(34, 34, 34) ;
    cursor: pointer;
}

.home{
    border: 2px solid white;
    border-radius: 20%;
}