@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Silkscreen', cursive;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-image: url("../public/carrousell_1920x1080_2.jpg");
  /* background-image: url("../public/fondo-de-pantalla-de-1920x1080-tumblr-pc.-fondo-de-pantalla-1024x576.jpg"); */
  /* background-image: url("../public/photo-1511512578047-dfb367046420.jpg"); */
  /* background-image: url("../public/video-games-gamers-wallpaper-preview.jpg"); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}
