/* @import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap'); */

body {
  margin: 0;
  /* font-family: 'Silkscreen', cursive;   */
  font-family: 'Alegreya Sans SC', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

body::-webkit-scrollbar {
  /* opacity: 0; */
  /* width: 0; */
  width: 15px;
  background-color: rgb(111, 113, 113);
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb{
  background-color: rgb(63, 63, 63);
  border-radius: 5px;
  width: 15px;
}
