.home{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.containerGrid{
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: rgba(0, 0, 0, 0.833);
    background-size: cover;
    padding-top: 70px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 20px;
}
