body {
    background-image: url("../public/carrousell_1920x1080_2.jpg");
  }

.home{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.containerGrid{
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-size: cover;
    padding-top: 3%;
    height: 100%;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1%;
    margin: 1%;
}

.aside{
    background-image: linear-gradient(to right bottom, #000000, #161515, #242322, #333230, #42413f, #42413f, #42413f, #42413f, #333230, #242322, #161515, #000000);
    height: 91%;
    width: 20%;
    position: fixed;
    bottom: 0%;
    right: 0;
    border-radius: 2%;
    margin-right: 10px;
}
