.container{
    color: rgba(0, 0, 0, 0.407);
    text-align: center;
}

.genres{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

.divApidb{
    margin-top: 10%;
}

.apidb{
    background-color: black;
    font-family: 'Silkscreen', cursive;
    color: white;
    height: 4vh;
    width: 30%;
    font-size: smaller;
    border-radius: 20%;
    border: none;
    transition: background-color .5s;
    margin: 2%;
}

.apidb:hover{
    color:white;
    background-color: rgb(34, 34, 34) ;
    cursor: pointer;
}

.title{
    color: rgba(0, 0, 0, 0.407);
    text-align: center;
}

.subDiv{
    display: flex;
    justify-content: center;
}
