.container{
    display: flex;
    flex-direction: column;
    /* border: 2px solid white; */
    background-color: rgba(0, 0, 0, 0.785);
    border-radius: 5%;
    margin: 4%;
    align-items: center;
    /* transition: .5s; */
    height: 95%;
    border: 2px solid rgba(0, 0, 0, 0.785)
}

.container:hover{
    background-color: rgb(50, 50, 50);
    border: 2px solid white;
}

.img{
    border-radius: 5%;
    height: 25vh;
    width: 13vw;
    margin-top: 1%;
    object-fit: cover;
}

.name{
    text-align: center;
}

.genres{
    color: gray;
}