.container{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.785);
    border-radius: 5%;
    margin: 4%;
    align-items: center;
    height: 50vh;
    border: 2px solid rgba(0, 0, 0, 0.785)
}

.container:hover{
    background-color: rgb(50, 50, 50);
    border: 2px solid white;
}

.img{
    border-radius: 5%;
    height: 25vh;
    width: 13vw;
    margin-top: 1%;
    object-fit: cover;
}

.name{
    text-align: center;
}

.genres{
    color: gray;
}

.button{
    transition: 0.5s;
    border-radius: 20%; 
    position: absolute;
    top: 10px;
    right: 10px;
}

.button:hover{
    background-color: black;
    color: white
}