@media (max-width: 1920px) {
.container{
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: radial-gradient(circle, #1e1e1e, #272727, #313131, #3b3b3b, #454545);
    border-radius: 2%;
    margin: 0.1%;
    justify-content: center;
    align-items: center;
    height: 45vh;
    width: 15vw;
    border: 1px solid #1e1e1e;
}

.container:hover{
    /* background-image: linear-gradient(to right bottom, #000000, #161515, #242322, #333230, #42413f, #42413f, #42413f, #42413f, #333230, #242322, #161515, #000000); */
    background-image: radial-gradient(circle, #454545, #3b3b3b, #313131, #272727, #1e1e1e);
    box-shadow: 0px 0px 4px 2px #c49216;
    /* border: 2px solid white; */
}

.img{
    border-radius: 2%;
    height: 25vh;
    width: 13vw;
    margin-top: 1%;
    object-fit: cover;
}

.name{
    text-align: center;
}

.genres{
    color: #929292;
}

.button{
    background-color: #1E1E1E;
    color: #dcdcdc;
    transition: 0.5s;
    border-radius: 20%; 
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: large;
    padding: 3px;
    cursor: pointer;
}

.button:hover{
    background-color: #dcdcdc;
    color: #1E1E1E;
}

.link{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit{
    background-color: #1E1E1E;
    color: #dcdcdc;
    border-radius: 5px;
    transition: background-color .5s;
    height: 100%;
    width: 100%;
    font-size: large;
    padding: 3px;
}

.edit:hover{
    color:#1E1E1E;
    background-color: #dcdcdc;
    cursor: pointer;
}
}

@media (max-width: 800px) {
    .container{
        width: 60vw; 
    }

    .img{
        width: 95%;
    }
}