.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    height: 5vh;
    min-width: 5vw;
    width: max-content;
    border-radius: 10px;
    font-size: large;
    transition: .5s;
    color: #000000;
    cursor: pointer;
    background-color: #c49216;
}

.button:hover{
    box-shadow: 0px 0px 4px 2px #c49216;
    background-color: #000000;
    color: #c49216;
}