.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.subtitle{ 
    color: #dcdcdc;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.divGenres{
    display: flex;
    justify-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.genres{ 
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 0%;
    padding-right: 0%;
    height: 30vh;
    width: 19vw;
}

/* .genres{ 
    display: flex;
    justify-content: center;
} */

.apidb{ 
    background-color: #1E1E1E;
    /* font-family: 'Silkscreen', cursive; */
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #dcdcdc;
    height: 4vh;
    width: 30%;
    font-size: smaller;
    border-radius: 20%;
    border: none;
    transition: background-color .5s;
    transition: box-shadow .5s;
    margin-left: 2%;
    margin-right: 2%;
}

.apidb:hover{
    color:#1E1E1E;
    background-color: #dcdcdc;
    box-shadow: 0px 0px 4px 2px #c49216;
    cursor: pointer;
}

.subDiv{
    display: flex;
    justify-content: center;
}

.order{ 
    color: #dcdcdc;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.orderDiv{ 
    display: flex;
    justify-content: center;
    align-items: center;
}

.select{ 
    background-color: #dcdcdc;
    /* font-family: 'Silkscreen', cursive; */
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #1E1E1E;
    height: 100%;
    width: 25%;
    font-size: smaller;
    border: none;
    border-radius: 20%;
    transition: background-color .5s;
    transition: box-shadow .5s;
    margin-left: 5px;
    margin-right: 5px;
}

.select:hover{ 
    color:#dcdcdc;
    background-color: #1E1E1E;
    box-shadow: 0px 0px 4px 2px #c49216;
    cursor: pointer;
}

.divReset{ 
    display: flex;
    justify-content: center;
    /* margin-top: 2%;
    margin-bottom: 2%; */
}

.reset{ 
    background-color: #929292;
    /* font-family: 'Silkscreen', cursive; */
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #dcdcdc;
    height: 100%;
    width: 25%;
    font-size: smaller;
    border-radius: 20%;
    border: none;
    transition: background-color .5s;
    margin-right: 2%;
}

.reset:hover{
    color:#dcdcdc;
    background-color: #1E1E1E;
    box-shadow: 0px 0px 4px 2px #c49216;
    cursor: pointer;
}

@media (max-width: 800px) {
    .apidb{ 
        font-size: xx-small;
    }

    .select{
        font-size: xx-small;
    }
}