.genreA{
    background-color: #1E1E1E;
    /* font-family: 'Silkscreen', cursive; */
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #c49216;
    height: 4vh;
    width: 100%;
    font-size: large;
    border-radius: 20%;
    border: none;
    font: bold;
}

.genre{
    background-color: #dcdcdc;
    /* font-family: 'Silkscreen', cursive; */
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #1E1E1E;
    height: 4vh;
    width: 75%;
    font-size: medium;
    border-radius: 20%;
    border: none;
    transition: background-color .5s;
    transition: box-shadow .5s;
}

.genre:hover{
    color:#dcdcdc;
    background-color: #1E1E1E;
    box-shadow: 0px 0px 4px 2px #c49216;
    cursor: pointer;
}