.genreA{
    background-color: #1E1E1E;
    /* font-family: 'Silkscreen', cursive; */
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #c49216;
    height: 4vh;
    width: 100%;
    font-size: large;
    border-radius: 20%;
    border: none;
    font: bold;
}

.genreA:last-child {
    grid-column: 2 / span 1; /* Centrar el último elemento en la última fila */
  }

.genre{
    background-color: #dcdcdc;
    /* font-family: 'Silkscreen', cursive; */
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #1E1E1E;
    height: 4vh;
    width: 75%;
    font-size: medium;
    border-radius: 20%;
    border: none;
    transition: background-color .5s;
    transition: box-shadow .5s;
}

.genre:last-child {
    grid-column: 2 / span 1; /* Centrar el último elemento en la última fila */
  }

.genre:hover{
    color:#dcdcdc;
    background-color: #1E1E1E;
    box-shadow: 0px 0px 4px 2px #c49216;
    cursor: pointer;
}

@media (max-width: 1760px) {
    .genre{
        font-size: small;
    }

    .genreA{
        font-size: medium;
    }
}

@media (max-width: 1440px) {
    .genre{
        font-size: x-small;
    }

    .genreA{
        font-size: small;
    }
}

@media (max-width: 1024px) {
    .genre{
        font-size: xx-small;
        width: 100%;
    }

    .genreA{
        font-size: x-small;
    }
}