.button{
    background-color: rgba(0, 0, 0, 0.588);
    /* font-family: 'Silkscreen', cursive; */
    color: white;
    height: 4%;
    width: 15%;
    font-size: larger;
    border-radius: 20%;
    border: none;
    transition: background-color .5s;
    margin-right: 1%;
    margin-bottom: 2%;
}

.button:hover{
    color:white;
    background-color: rgb(20, 20, 20) ;
    cursor: pointer;
}

.input{
    padding: 0;
    background-color: white;
    /* font-family: 'Silkscreen', cursive; */
    color: black;
    height: 4%;
    width: 15%;
    font-size: larger;
    border-radius: 20%;
    border: none;
    transition: background-color .5s;
    text-align: center;
    margin-right: 1%;
    margin-bottom: 2%
}

.input:hover{

}

.div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.p{
    background-color: white;
    /* font-family: 'Silkscreen', cursive; */
    color: black;
    height: 3%;
    width: 15%;
    font-size: medium;
    border-radius: 20%;
    border: none;
    transition: background-color .5s;
    text-align: center;
    margin-right: 1%;
    margin-top: 0;
    padding-top: 1%;
}

.title{
    color: rgba(0, 0, 0, 0.407);
    text-align: center;
}