.button{
    background-color: #1E1E1E;
    /* font-family: 'Silkscreen', cursive; */
    color: #dcdcdc;
    height: 4%;
    width: 15%;
    font-size: larger;
    border-radius: 20%;
    border: none;
    transition: background-color .5s;
    margin-right: 1%;
    margin-bottom: 2%;
}

.button:hover{
    color:#dcdcdc;
    background-color: #1E1E1E;
    box-shadow: 0px 0px 4px 2px #c49216;
    cursor: pointer;
}

.input{
    padding: 0;
    background-color: #dcdcdc;
    /* font-family: 'Silkscreen', cursive; */
    color: #1E1E1E;
    height: 4%;
    width: 15%;
    font-size: larger;
    border-radius: 20%;
    border: none;
    transition: background-color .5s;
    text-align: center;
    margin-right: 1%;
    margin-bottom: 2%
}

.input:hover{

}

.div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.p{
    background-color: #dcdcdc;
    /* font-family: 'Silkscreen', cursive; */
    color: #1E1E1E;
    height: 3%;
    width: 15%;
    font-size: medium;
    border-radius: 20%;
    border: none;
    transition: background-color .5s;
    text-align: center;
    margin-right: 1%;
    margin-top: 0;
    padding-top: 1%;
}

.title{
    color: #dcdcdc;
    text-align: center;
}