.modal{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0,0,0,0.75);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.is-open{
    display: flex;
}

.modal-container{
    position: relative;
    min-width: 40%;
    max-width: 50%;
    min-height: 30%;
    max-height: 40%;
    /* height: 40%;
    width: 60%; */
    overflow: auto;
    border-radius: 2%;
    background-color: #202020;
    box-shadow: 0px 0px 4px 2px gray;
    overflow-x: hidden;
}

.modal-close{
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.modal-content{
    padding: 10%;
    height: 60vh;
    width: 100%;
}

.form{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 80%;
    justify-content: space-evenly;
}

.div-login{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.div-login-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-button{
    background-color: #dcdcdc;
    /* font-family: 'Silkscreen', cursive; */
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #1E1E1E;
    height: 100%;
    width: 100%;
    margin-bottom: 5px;
    font-size: small;
    border-radius: 20%;
    border: none;
    transition: background-color .5s;
}

.login-button:hover{
    color:#dcdcdc;
    background-color: #1E1E1E;
    box-shadow: 0px 0px 4px 2px #c49216;
    
    cursor: pointer;
}