body {
    background-image: url("../../../public/carrousell_1920x1080_2.jpg");
  }

.loader{
    /* background-color: rgba(0, 0, 0, 0.833); */
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}