.container{
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.boton{
    padding: 0;
    margin: 0;
    background-color: white;
    /* font-family: 'Silkscreen', cursive; */
    font-family: 'Alegreya Sans SC', sans-serif;
    color: black;
    height: 100%;
    width: 100%;
    font-size: medium;
    border-radius: 20%;
    border: none;
    transition: background-color .5s;
}

.boton:hover{
    color:white;
    background-color: rgb(34, 34, 34) ;
    cursor: pointer;
}

.input{
    padding: 0;
    margin: 0;
    background-color: white;
    /* font-family: 'Silkscreen', cursive; */
    font-family: 'Alegreya Sans SC', sans-serif;

    color: black;
    height: 100%;
    width: 75%;
    font-size: medium;
    border-radius: 20%;
    border: none;
    transition: background-color .5s;
}

.input:hover{
    color:white;
    background-color: rgb(34, 34, 34) ;
    cursor: pointer;
}